.App {
    text-align: center;
}

.container {
    max-width: 300px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container input {
    margin-bottom: 20px;
}

.container input:last-child {
    margin-bottom: 0;
}
